<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><a href="projects.html">My works</a></p>
        <p class="view"><a href="cv.pdf">My CV (pdf)</a></p>
        <h3>On the web</h3>
        <p class="view"><a href="http://vk.com/semior001">VK</a></p>
        <p class="view"><a href="http://github.com/semior001">Github</a></p>
        <p class="view"><a href="https://hh.kz/applicant/resumes/view?resume=03f4d0a0ff038da4f60039ed1f504e68766e4f">HeadHunter</a></p>
        <h3>In competitive programming</h3>
        <p class="view"><a href="http://codeforces.com/profile/semior001">Codeforces</a></p>
        <p class="view"><a href="http://informatics.mccme.ru/user/view.php?id=190610">Informatics.MCCME</a></p>
        <p class="view"><a href="http://hackerrank.com/semior001">Hackerrank</a></p>
        <p class="view"><a href="http://acmp.ru/index.asp?main=user&id=162279">ACMP</a></p>
        <h3>My mail</h3>
        <p class="view"><a href="mail:ura2178@gmail.com">ura2178@gmail.com</a></p>
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        <p>I'm a software, mobile, and web-developer and just a good man :)<br>
        Now I study at <a href="https://university.innopolis.ru">Innopolis University</a> for Bachelor's degree of Computer Science</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>