---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<div id="remark42"></div>

<script>
    var remark_config = {
      host: "https://remark.semior.dev", // hostname of Remark42 server, same as REMARK_URL in backend config, e.g. "https://demo.remark42.com"
      site_id: 'blogh',
      components: ['embed', 'last-comments', 'counter'],
      locale: 'en', // set up locale and language, if it isn't defined default value ('en') will be used
    };
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
